.form-boxes
{
	width:400px;
	height:100%;
	font-size:16px;
}

div.form-boxes
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.form-boxes label
{

	width: 215px;
	float: left;
	text-align: right;
	margin: 10px 0px 10px 0px;
}

.form-boxes input[type="password"]
{
	float:left;
	width:170px;
	margin:10px 0px 10px 10px;
	font-size:16px;
}

.form-boxes input[type="submit"]
{
	float:right;
	cursor:pointer; cursor:hand;
}

div.error, div.success
{
	margin-top:100px;	
}

/* vertical iphone4 screen */
@media screen and (max-width: 320px) {
	.form-boxes
	{
		display:inline-block;
		width:316px;
	}
	.form-boxes label
	{
		float:left;
		text-align: left;
		margin: 20px 0px 0px 0px;
	}
	.form-boxes div.submit
	{
		width:280px;
		display:inline-block;
	}
	.form-boxes input, .submit
	{
		float:left;
		margin:auto;
	}
	.form-boxes input[type="submit"]
	{
		margin-right:50px;
		margin-left:10px;
		position:relative;
	}
}