.modal-content .form-boxes a.submit-order{width:130px; margin: 10px 3px 20px 0px; float:right}

/* vertical iphone4 screen */
@media screen and (max-width: 320px) {
	a.btn
	{
		width:280px;
	}
}

/* horizontal iphone4 screen */
@media screen and (max-height: 320px) {
	#title-text
	{
		width:150px;
		height:auto;
		margin-bottom: 0px;
		margin-top:-110px;
		vertical-align:middle;
		margin-right:10px;
	}
	.arrow-down-img-horizontal
	{
		display:inline;
		margin-right:-30px;
	}
	.logo
	{
		width:auto;
		height: 132px;
	}
	.title-text2
	{
		margin-top: 60px;
		width:100%;
		display:inline-block;
		font-weight: bold;
		font-size:25px;
	}
	#order-content {
		width:288px;
	}
}



