body {
	background: url('../img/wood_background.jpg') repeat; 

	height:100%;
}

.container{
	background: url('../img/steel.jpg') repeat; 
	background-size: 500px 300px;
	height:100%;
	border-radius: 15px;
}

.container
{
	width:640px;
	margin: auto;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-align:center;
	border-right:3px outset #999;
	border-bottom:3px outset #999;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 15px rgba(0,0,0,0.4);

}



.noUiSlider
{
	margin: 15px 15px 15px 15px;
}

.logo-container
{
	width:100%;
	display:inline-block;
}

/* for 940px or less */
@media screen and (max-width: 950px) {
	.container
	{
		width: auto;
		float: none;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.info-img
{
	height:auto;
	width:20px;
}

select
{
	width:300px;
	font-size:22px;
}

.menu ul:after{
	display:inline-block;
}

.menu ul:before{
	display:block;
}

.menu ul{
	-webkit-padding-start:0px;
	text-align:justify;
}

.menu * {
  display: inline;
}

.menu li {
  display: inline-block;
  width:125px;
  text-align:center;
  height:125px;
  vertical-align:top;
  position:relative;
}

.menu span {
  display: inline-block;
  position: relative;
  width: 100%;
  height:0px;
}

#title-text
{
	width:100%;
	display:inline-block;
	font-weight: bold;
	font-size:30px;
	margin-bottom: 8px;
}

.title-text2
{
	margin-top: 15px;
	margin-bottom:50px;
	width:100%;
	display:inline-block;
	font-weight: bold;
	font-size:25px;
}

.logo
{
	width:auto;
	height:230px;
	margin-top:8px;
	margin-bottom:0px;
}

.sliderText
{
	display:block;
	margin-top:10px;
	margin-bottom:100px;
	width:100%;
}

.sliderLow
{
	text-align:left;
	width:35%;
	float:left;
	display:inline-block;
	margin-left:15px;
}

.sliderName
{
	font-size:22px;
	text-align:center;
	display:block;
	margin-bottom:5px;
}

.sliderHigh
{
	text-align:right;
	width:35%;
	float:right;
	display:inline-block;
	margin-right:15px;
}

.sliderEndText
{
	color:#6e7278;
}

.descriptor-value
{
	color:#6e7278;
}

div#cta {
	text-align:center;
	margin-bottom:65px;
	display:inline-block;
}

a.btn {
  display:inline-block;
  width: 290px;
  padding: 15px 0px 15px 0px;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #FF9933;
  margin-bottom:0px;
  text-shadow: -1px -1px 2px #DE7000;
  border: 1px solid #DE7000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: -moz-linear-gradient(#FECF2D, #FFAD5C 35%, #DE7000);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FECF2D),color-stop(.35, #FFAD5C),color-stop(1, #DE7000));
}

a.btn:hover {
  background-color: #245191;
  text-shadow: -1px -1px 2px #465f97;
  border: 1px solid #0f2557;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #245192),color-stop(.75, #1e3b73),color-stop(1, #12295d));
}

#sliders
{
	margin-bottom:40px;
}

.arrow-down-img-vertical
{
	width:300px;
	height:60px;
	opacity:0.6;
	display: none;
}

.arrow-down-img-horizontal
{
	width:175px;
	height:auto;
	opacity:0.6;
	display: none;
	margin-bottom:-20px;
}

[disabled] .noUi-connect {
	background: #000;
}


.invisible, li.invisible
{
	display:none;
	width:0px;
	height:0px;
}

#cta-submit-response {
  display:inline-block;
  width: 290px;
  padding: 15px 0px 15px 0px;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  margin-bottom:0px;
  border: 1px solid #006600;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.success
{
	color:green;
}
.error
{
	color:red;
}

.error, .success{
	font-family: Arial;
	margin: 7px 0px 7px 0px;
}

p.error, p.success{
	height: 20px;
}

.tip-container
{
	width:100%;
	height:0px;
}

.info-tip
{
	font-size:18px;
	line-height:18px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.loader
{
	width:100%;
	text-align:center;
}
.loader img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.form-box-button {
	-moz-box-shadow:inset 0px 0px 0px -1px #fed897;
	-webkit-box-shadow:inset 0px 0px 0px -1px #fed897;
	box-shadow:inset 0px 0px 0px -1px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:32px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 2px 1px #cd8a15;
}
.form-box-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
}.form-box-button:active {
	position:relative;
	top:1px;
}


#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
.modal-content{
	width:415px;
	height:auto;
}



.modal-content {color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
.modal-content .simplemodal-data {padding:8px;}
.modal-content code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
.modal-content a {color:#ddd;}
.modal-content a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
.modal-content h3 {color:#84b8d9;}
.modal-content p.close-modal {width:100%; height:1px}
.modal-content p.close-modal a{float:right}
.modal-content div.form-boxes {display:inline-block; margin-right:10px; font-size:16px; font-family: Copperplate, "Copperplate Gothic Light", fantasy;}
.modal-content .form-boxes input{width:200px; margin: 3px 0px 3px 10px; font-size:18px}
.modal-content .form-boxes label{width:175px; float:left; text-align:right; margin: 12px 0px 0px 0px}
.modal-content .form-boxes a{width:100px; margin: 10px 3px 20px 0px; float:right}


#more-content div.menu li {  
  	vertical-align:middle;
  	margin: 30px 0px -30px 0px;
}
#more-error{
	width:100%;
	height:40px;
}

.forgot-password
{
	font-size:10px;
}

.modal-content a.forgot-password-submit{
	width:160px;
}

.cta-summary
{
	width:100%;
	margin-bottom:15px;
	height:auto;
	display:inline-block;
}

/* vertical iphone4 screen */
@media screen and (max-width: 320px) {
	.arrow-down-img-vertical
	{
		display:inline-block;
	}
	.menu li 
	{
	  width:125px;
	  margin-left:0px;
	  margin-right:0px;
	}
	.logo
	{
		height:205px;
	}
	
	#signup-content, #login-content, #more-content, #beer-points-content, #forgot-password-content, #order-content{
		width:288px;
	}
	
	#more-content{
		height:324px;
	}
	
	.modal-content .form-boxes input{width:258px; margin: 1px 0px 0px 10px; font-size:18px}
	.modal-content .form-boxes label{width:288px; float:left; text-align:left; margin: 12px 0px 0px 0px}
	.modal-content .form-boxes a{width:100px; margin: 10px 3px 0px 0px; float:right}
	h3 {margin:0px 0px 0px 0px;}
	
	#order-content {
		width:288px;
	}
	.btn{
		width:280px;
	}
	
}

/* horizontal iphone4 screen */
@media screen and (max-height: 320px) {
	.arrow-down-img-vertical
	{
		display:none;
	}

	.logo-container
	{
		display:inline;
		height:200px;
	}
	#beer-points-content{
		width:400px;
	}

}
