#beer-list
{
	vertical-align:top;
}

/* vertical iphone4 screen */
@media screen and (max-width: 320px) {
	#beer-list, #cta-a
	{
		width:280px;
	}
}
	
/* horizontal iphone4 screen */
@media screen and (max-height: 320px) {
	#beer-list
	{
		width:290px;
	}
	.logo
	{
		width:auto;
		height: 200px;
	}
	#title-text
	{
		margin-top:5px;
	}
}