				<div style="display:none">
					<select id="beer-list">
						<option class="beer-option" value="">Select</option>
					</select>
	
					<div id="sliders">
						<div style="display:none">
							<div class="tip-container"></div>
							<span class="sliderName"><img src="../img/question.png" class="info-img"></span>
							<span id="descriptor_scale_1" class="descriptor-value">3</span>
							<div id="descriptor_id_0" class="noUiSlider"></div>
							<span class="sliderText">
								<span class="sliderEndText sliderLow" id="low-descriptor0">Light</span>
								<span class="sliderEndText sliderHigh" id="high-descriptor0">Dark</span>
							</span>
						</div>
					</div>
				</div>

